:root{
    /* colours */
    --color-text:#ffff;
    --color-primary:blue;
    --color-secondary:#19376d;
    --color-dark:#0b2440;
    --color-bg:#04152d;

    /* fonts */
    --font-roboto: "Roboto";
    

}